@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: bold;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-SemiBold.woff2') format('woff2');
}

::-webkit-scrollbar{
  display: none;
}

::selection{
  background-color: var(--cloud);
}

:root{
  --bg: #ffffff;
  --light: #f5f8fc;
  --cloud: #e8e8e8;
  --vapour: #dcdfe8;
  --smoke: #969696;
  --ash: #505050;
  --abyss: #4b5064;
  --text: #3c3c3c;
  --link: #2878dc;
  --brand: #1464dc;
  
  --bg-transparent: #ffffffc8;
}

body{
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Inter', 'Pretendard';
  font-synthesis: none !important;
  font-size: 16px;
  line-height: 1.5;
}

bold{
  font-weight: bold;
}

del{
  color: var(--smoke);
}

a{
  color: var(--link);
  text-decoration:none;
}

img{
  display: inline-block;
  max-width: max(320px, 100%);
  max-height: 320px;
}

h2{
  border-bottom: 1px solid var(--vapour);
}

blockquote{
  margin-left: 0;
  padding: 6px 12px;
  border-left: 4px solid var(--vapour);
  color: var(--ash);
}

blockquote p{
  margin: 0;
}

input::placeholder{
  color: var(--smoke);
}

summary{
  list-style-type: none;
}

summary::-webkit-details-marker {
  display: none;
}

table{
  width: max-content;
  border-collapse: collapse;
  font-size: inherit;
}

table+table{
  margin-top: 16px;
}

table table{
  width: 100%;
  margin: 0;
  border: none;
}

th, td{
  padding: 8px 16px;
  border: 1px solid var(--vapour);
}

th{
  background-color: var(--light);
}

table > :first-child > tr:first-child > th,
table > :first-child > tr:first-child > td{
  border-top: none;
}

table > :last-child > tr:last-child > th, 
table > :last-child > tr:last-child > td{
  border-bottom: none;
}

tr > *:first-child{
  border-left: none;
}

tr > *:last-child{
  border-right: none;
}

table{
  border: 1px solid var(--vapour);
}

#header{
  z-index: 1;
  position: fixed;
  top: 0;
  display: grid;
  width: 100%;
  border-bottom: 1px solid var(--vapour);
  background-color: var(--bg-transparent);
  color: var(--text);
  backdrop-filter: blur(4px);
  grid-template-columns: 50% 50%;
}

#top{
  user-select: none;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  font-size: 24px;
  line-height: 0;
}

#top a{
  color: var(--bg);
}

#logo{
  display: inline-block;
  width: 30px;
  height: 20px;
  mask: url('imgs/이저그_로고.svg') no-repeat center / contain;
  background-color: var(--text);
}

#wordmark{
  display: inline-block;
  width: 60px;
  height: 20px;
  mask: url('imgs/이저그_워드마크.svg') no-repeat center / contain;
  background-color: var(--text);
}

#input{
  box-sizing: border-box;
  display: block;
  height: 48px;
  padding: 8px 16px;
  border-radius: 0;
  border: none;
  outline: none;
  background-color: #00000000;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

#result{
  width: 100%;
  grid-column: span 2;
}

#result a{
  display: flex;
  align-items: center;
  height: 32px;
  padding: 8px 16px;
}

#result a:first-child{
  border-top: 1px solid var(--vapour);
}

#content{
  width: max(320px, 80%);
  margin: 64px auto;
  padding: 0;
  /* padding: 96px 0 64px; */
}

.table-container{
  width: max(320px, 100%);
  overflow-x: auto;
}

.footnotes-sep{
  margin: 64px 0 32px;
  border: 1px solid var(--vapour);
}

.td{
  padding: 8px 16px;
}

.emph{
  box-sizing: border-box;
  width: max-content;
  max-width: max(320px, 100%);
  margin-bottom: 24px;
  padding: 8px 16px;
  border-radius: 4px;
  border-left: 6px solid var(--brand);
  background-color: var(--light);
  color: var(--abyss);
}

.info{
  box-sizing: border-box;
  width: max-content;
  max-width: max(320px, 100%);
  margin-bottom: 24px;
  padding: 18px 24px;
  border: 2px dashed var(--vapour);
}

.quote{
  box-sizing: border-box;
  width: max-content;
  max-width: max(320px, 100%);
  margin-bottom: 24px;
  padding: 12px 24px;
  color: var(--ash);
  background-color: var(--light);
  border-left: 4px solid var(--vapour);
  border-right: 4px solid var(--vapour);
}

.emph p{
  margin: 0;
}

.info p{
  margin: 0;
}

.quote p{
  margin: 0;
}

@media(min-width: 1024px){
  #header{
    grid-template-columns: 75% 25%;
  }
}