@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

::-webkit-scrollbar{
  display: none;
}

::selection{
  background-color: var(--cloud);
}

:root{
  --bg: #ffffff;
  --light: #f5f8fc;
  --cloud: #e8e8e8;
  --vapour: #dcdfe8;
  --smoke: #969696;
  --ash: #505050;
  --text: #3c3c3c;
  --link: #2878dc;
}

body{
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Inter', 'Pretendard';
  font-size: 16px;
  line-height: 1.5;
}

del{
  color: var(--smoke);
}

a{
  color: var(--link);
  text-decoration:none;
}

img{
  display: inline-block;
  max-height: 300px;
}

h2{
  border-bottom: 1px solid var(--vapour);
  font-weight: normal;
}

blockquote{
  margin-left: 0;
  padding: 4px 12px;
  border-left: 4px solid var(--vapour);
  color: var(--ash);
}

summary {
  list-style-type: none;
}

summary::-webkit-details-marker {
  display: none;
}

table{
  border-collapse: collapse;
  border: 1px solid var(--vapour);
  font-size: inherit;
}

table+table{
  margin-top: 16px;
}

table table{
  width: 100%;
  margin: 0;
  border: none;
}

th, td{
  padding: 8px 16px;
  border: 1px solid var(--vapour);
}

th{
  background-color: var(--light);
}

tr:first-child th, tr:first-child td{
  border-top: none;
}

tr:last-child th, tr:last-child td{
  border-bottom: none;
}

td:first-child, th:first-child{
  border-left: none;
}

td:last-child, th:last-child{
  border-right: none;
}

#header{
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--vapour);
  background-color: var(--bg);
  color: var(--text);
}

#input{
  display: flex;
  width: 100%;
  height: 32px;
  padding: 8px 16px;
  border-radius: 0;
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

#result{
  width: 100%;
}

#result div{
  height: 32px;
  padding: 8px 16px;
}

#result div:first-child{
  border-top: 1px solid var(--vapour);
}

#result div a{
  display: flex;
  align-items: center;
  height: 100%;
}

#content{
  width: max(300px, 80%);
  margin: 64px auto;
}

.td{
  padding: 8px 16px;
}